<div class="container">
    <form class="form-group">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
            <label class="">Nom Produit</label>
            <input type="text" class="form-control " [(ngModel)]="nomGenre" #searchTerm (keyup)="rechercherGenres()" name="nomGenre" class="form-control my-1" />
            <!-- <button type="submit" (click)="rechercherGenres()" class="btn btn-outline-info btn-rounded border-top-0 border-end-0 mb-2 ml-2">Rechercher</button> -->
        </div>
    </form>


    <!-- <button class="btn btn-primary" routerLink="/admin">Return </button> -->
    <br>




    <div class="row my-2">
        <div class="col-sm-12 col-md-6 " *ngFor="let s of genre; index as i">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title btn-outline-info btn-rounded border-top-0 border-end-0 w-50"> {{s.nomGenre }} </h1>
                    <!-- <h1 class="card-title btn-outline-info btn-rounded w-50"> {{s.nomGenre }} </h1> -->
                    <p class="card-text">
                        <a href="" [routerLink]="['film/1']"> <img alt="" _ngcontent-uug-c57="" _ngcontent-rfl-c57="" src="assets/film.jpg" style="width: 450px;height: 198px;" class=""> </a>
                    </p>
                    <a class="btn btn-outline-primary mx-5" [routerLink]="['film/', s.id]"><i class="bi bi-hand-index"></i> </a>
                    <span class="mx-5">

                      <a href="" class="btn btn-outline-info mx-1 " [routerLink]="['updateGenre/', s.id]"><i class="bi bi-pencil-square"></i> </a>
                      <a class="btn btn-outline-danger" (click)="delete(s.id, i)"><i class="bi bi-trash3-fill"></i> </a>
                    </span>
                </div>
            </div>
            <br>
        </div>


    </div>

</div>