<div style="width: 100%;">

    <div style="display: initial;">
        <div>
            <div>
                <div class="MuiGrid-root-8343 MuiGrid-container-8344 MuiGrid-spacing-xs-2-8367" style="margin-bottom: 5px;width: calc(100% + 16px);
margin: -8px;display: flex;
flex-wrap: wrap;
box-sizing: border-box;">
                    <div class="MuiGrid-root-8343 MuiGrid-item-8345 MuiGrid-grid-xs-12-8389 MuiGrid-grid-sm-6-8397 MuiGrid-grid-md-4-8409" style="padding: 8px;flex-grow: 0;
max-width: 33.333333%;
flex-basis: 33.333333%;margin: 0;
box-sizing: border-box;">
                        <div class="jss8446" style="flex-grow: 1;">
                            <div class="MuiPaper-root-8118 MuiExpansionPanel-root-8448 MuiExpansionPanel-rounded-8449 MuiPaper-elevation1-8122 MuiPaper-rounded-8119" style="border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;border-top-left-radius: 4px;
border-top-right-radius: 4px;position: relative;
transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);color: rgba(0, 0, 0, 0.87);
transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
background-color: #fff;">
                                <div class="MuiButtonBase-root-8158 MuiExpansionPanelSummary-root-8450" tabindex="0" role="button" aria-disabled="false" aria-expanded="false" style="display: flex;
padding: 0px 16px;
min-height: 48px;
transition: min-height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;color: inherit;
border: 0;
cursor: pointer;
margin: 0;
display: inline-flex;
outline: 0;
padding: 0;
position: relative;
align-items: center;
user-select: none;
border-radius: 0;
vertical-align: middle;
-moz-appearance: none;
justify-content: center;
text-decoration: none;
background-color: transparent;
-webkit-appearance: none;
-webkit-tap-highlight-color: transparent;">
                                    <div class="MuiExpansionPanelSummary-content-8451" style="margin: 12px 0;
display: flex;
flex-grow: 1;
transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;">
                                        <p class="MuiTypography-root-8178 jss8447 MuiTypography-body1-8180" style="/* margin: 12px 0; */
/* display: flex; */
/* flex-grow: 1; */
/* transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */font-weight: 500;font-size: 1rem;
font-family: &quot;Roboto&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.00938em;margin: 0;">
                                            <a href="" class="text-decoration-none pl-4" [routerLink]="['/admin/addFilm']"> add film</a>
                                        </p>
                                    </div>
                                    <div class="MuiButtonBase-root-8158 MuiIconButton-root-8150 MuiExpansionPanelSummary-expandIcon-8452 MuiIconButton-edgeEnd-8152" aria-disabled="false" aria-hidden="true" style="transform: rotate(0deg);
transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;margin-right: -12px;flex: 0 0 auto;
color: rgba(0, 0, 0, 0.54);
padding: 12px;
overflow: visible;
font-size: 1.5rem;
text-align: center;
transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
border-radius: 50%;border: 0;
cursor: pointer;
margin: 0;
display: inline-flex;
outline: 0;
padding: 0;
position: relative;
align-items: center;
user-select: none;
border-radius: 0;
vertical-align: middle;
-moz-appearance: none;
justify-content: center;
text-decoration: none;
background-color: transparent;
-webkit-appearance: none;
-webkit-tap-highlight-color: transparent;"><span class="MuiIconButton-label-8157" style="width: 100%;
display: flex;
align-items: inherit;
justify-content: inherit;"><svg class="MuiSvgIcon-root-8159" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path></svg></span><span class="MuiTouchRipple-root-8168"></span></div>
                                </div>
                                <div class="MuiCollapse-root-8453 MuiCollapse-hidden-8455" style="min-height: 0px;visibility: hidden;height: 0;
overflow: hidden;
transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;">
                                    <div class="MuiCollapse-wrapper-8456" style="display: flex;">
                                        <div class="MuiCollapse-wrapperInner-8457" style="width: 100%;">
                                            <div role="region">
                                                <div class="MuiExpansionPanelDetails-root-8458" style="padding-bottom: 0px; padding-top: 0px;display: flex;
padding: 8px 16px 16px;">
                                                    <div><span class="MuiTypography-root-8178 MuiTypography-caption-8181" style="font-size: 0.75rem;
font-family: &quot;Roboto&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;
font-weight: 400;
line-height: 1.66;
letter-spacing: 0.03333em;margin: 0;">Decide which information of the teams you want to keep track of.</span></div>
                                                </div>
                                                <div style="padding: 20px 24px 0px;">
                                                    <p class="MuiTypography-root-8178 MuiTypography-body2-8179" style="background: rgb(236, 239, 241); padding: 10px; border-radius: 5px; width: 100%; cursor: pointer;font-size: 0.875rem;
font-family: &quot;Roboto&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;
font-weight: 400;
line-height: 1.43;
letter-spacing: 0.01071em;margin: 0;"><svg class="MuiSvgIcon-root-8159" focusable="false" viewBox="0 0 24 24" aria-hidden="true" style="height: 15px; width: 15px; margin-right: 3px; top: 2px; position: relative;fill: currentColor;
width: 1em;
height: 1em;
display: inline-block;
font-size: 1.5rem;
transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
flex-shrink: 0;
user-select: none;"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"></path></svg>No team sport? Click here to change to an individual sport.</p>
                                                </div>
                                                <div class="MuiExpansionPanelDetails-root-8458" style="padding-bottom: 12px;display: flex;
padding: 8px 16px 16px;">
                                                    <!-- <table style="margin-top: 15px; width: 100%;display: table;
border-collapse: separate;
box-sizing: border-box;
text-indent: initial;
border-spacing: 2px;
border-color: grey;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-weight: 500;">Default data columns</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 90%; padding: 0px; vertical-align: middle;">
                                                                <p class="MuiTypography-root-8178 MuiTypography-body2-8179" style="display: inline;">Present</p>
                                                            </td>
                                                            <td style="padding: 0px;"><span class="MuiButtonBase-root-8158 MuiIconButton-root-8150 jss8463 MuiCheckbox-root-8459 MuiCheckbox-colorPrimary-8461 MuiIconButton-colorPrimary-8154" aria-disabled="false" style="height: 35px;"><span class="MuiIconButton-label-8157"><input class="jss8466" type="checkbox" data-indeterminate="false" value=""><svg class="MuiSvgIcon-root-8159" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg></span>
                                                                <span class="MuiTouchRipple-root-8168"></span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 90%; padding: 0px; vertical-align: middle;">
                                                                <p class="MuiTypography-root-8178 MuiTypography-body2-8179" style="display: inline;">Paid</p>
                                                            </td>
                                                            <td style="padding: 0px;"><span class="MuiButtonBase-root-8158 MuiIconButton-root-8150 jss8463 MuiCheckbox-root-8459 MuiCheckbox-colorPrimary-8461 MuiIconButton-colorPrimary-8154" aria-disabled="false" style="height: 35px;"><span class="MuiIconButton-label-8157"><input class="jss8466" type="checkbox" data-indeterminate="false" value=""><svg class="MuiSvgIcon-root-8159" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg></span>
                                                                <span class="MuiTouchRipple-root-8168"></span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 90%; padding: 0px; vertical-align: middle;">
                                                                <p class="MuiTypography-root-8178 MuiTypography-body2-8179" style="display: inline;">Email</p>
                                                            </td>
                                                            <td style="padding: 0px;"><span class="MuiButtonBase-root-8158 MuiIconButton-root-8150 jss8463 MuiCheckbox-root-8459 MuiCheckbox-colorPrimary-8461 MuiIconButton-colorPrimary-8154" aria-disabled="false" style="height: 35px;"><span class="MuiIconButton-label-8157"><input class="jss8466" type="checkbox" data-indeterminate="false" value=""><svg class="MuiSvgIcon-root-8159" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg></span>
                                                                <span class="MuiTouchRipple-root-8168"></span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 90%; padding: 0px; vertical-align: middle;">
                                                                <p class="MuiTypography-root-8178 MuiTypography-body2-8179" style="display: inline;">Added</p>
                                                            </td>
                                                            <td style="padding: 0px;"><span class="MuiButtonBase-root-8158 MuiIconButton-root-8150 jss8463 MuiCheckbox-root-8459 MuiCheckbox-colorPrimary-8461 MuiIconButton-colorPrimary-8154" aria-disabled="false" style="height: 35px;"><span class="MuiIconButton-label-8157"><input class="jss8466" type="checkbox" data-indeterminate="false" value=""><svg class="MuiSvgIcon-root-8159" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg></span>
                                                                <span class="MuiTouchRipple-root-8168"></span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 90%; padding: 0px; vertical-align: middle;">
                                                                <p class="MuiTypography-root-8178 MuiTypography-body2-8179" style="display: inline;">Country</p>
                                                            </td>
                                                            <td style="padding: 0px;"><span class="MuiButtonBase-root-8158 MuiIconButton-root-8150 jss8463 MuiCheckbox-root-8459 MuiCheckbox-colorPrimary-8461 MuiIconButton-colorPrimary-8154" aria-disabled="false" style="height: 35px;"><span class="MuiIconButton-label-8157"><input class="jss8466" type="checkbox" data-indeterminate="false" value=""><svg class="MuiSvgIcon-root-8159" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg></span>
                                                                <span class="MuiTouchRipple-root-8168"></span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 90%; padding: 0px; vertical-align: middle;">
                                                                <p class="MuiTypography-root-8178 MuiTypography-body2-8179" style="display: inline;">Logo</p>
                                                            </td>
                                                            <td style="padding: 0px;"><span class="MuiButtonBase-root-8158 MuiIconButton-root-8150 jss8463 MuiCheckbox-root-8459 MuiCheckbox-colorPrimary-8461 jss8464 Mui-checked MuiIconButton-colorPrimary-8154" aria-disabled="false"
                                                                    style="height: 35px;"><span class="MuiIconButton-label-8157"><input class="jss8466" type="checkbox" data-indeterminate="false" value="" checked=""><svg class="MuiSvgIcon-root-8159" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"></path></svg></span>
                                                                <span class="MuiTouchRipple-root-8168"></span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 90%; padding: 0px; vertical-align: middle;">
                                                                <p class="MuiTypography-root-8178 MuiTypography-body2-8179" style="display: inline;">Dressing room</p>
                                                            </td>
                                                            <td style="padding: 0px;"><span class="MuiButtonBase-root-8158 MuiIconButton-root-8150 jss8463 MuiCheckbox-root-8459 MuiCheckbox-colorPrimary-8461 MuiIconButton-colorPrimary-8154" aria-disabled="false" style="height: 35px;"><span class="MuiIconButton-label-8157"><input class="jss8466" type="checkbox" data-indeterminate="false" value=""><svg class="MuiSvgIcon-root-8159" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg></span>
                                                                <span class="MuiTouchRipple-root-8168"></span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 90%; padding: 0px; vertical-align: middle;">
                                                                <p class="MuiTypography-root-8178 MuiTypography-body2-8179" style="display: inline;">Players</p>
                                                            </td>
                                                            <td style="padding: 0px;"><span class="MuiButtonBase-root-8158 MuiIconButton-root-8150 jss8463 MuiCheckbox-root-8459 MuiCheckbox-colorPrimary-8461 jss8464 Mui-checked MuiIconButton-colorPrimary-8154" aria-disabled="false"
                                                                    style="height: 35px;"><span class="MuiIconButton-label-8157"><input class="jss8466" type="checkbox" data-indeterminate="false" value="" checked=""><svg class="MuiSvgIcon-root-8159" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"></path></svg></span>
                                                                <span class="MuiTouchRipple-root-8168"></span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 90%; padding: 0px; vertical-align: middle;">
                                                                <p class="MuiTypography-root-8178 MuiTypography-body2-8179" style="display: inline;">Direct login link</p><svg class="MuiSvgIcon-root-8159" focusable="false" viewBox="0 0 24 24" aria-hidden="true" title="Via a unique login link participants can submit their own match results directly on the tournaments' public website"
                                                                    style="height: 15px; width: 15px; margin-left: 5px; position: relative; top: 2px;"><path d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"></path></svg></td>
                                                            <td style="padding: 0px;"><span class="MuiButtonBase-root-8158 MuiIconButton-root-8150 jss8463 MuiCheckbox-root-8459 MuiCheckbox-colorPrimary-8461 MuiIconButton-colorPrimary-8154" aria-disabled="false" style="height: 35px;"><span class="MuiIconButton-label-8157"><input class="jss8466" type="checkbox" data-indeterminate="false" value=""><svg class="MuiSvgIcon-root-8159" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg></span>
                                                                <span class="MuiTouchRipple-root-8168"></span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr></tr>
                                                    </tbody>
                                                </table> -->
                                                </div>
                                                <div class="MuiExpansionPanelDetails-root-8458" style="margin-top: 10px;display: flex;
padding: 8px 16px 16px;">
                                                    <div><button class="MuiButtonBase-root-8158 MuiButton-root-8210 MuiButton-outlined-8215" tabindex="0" type="button" style="border: 1px solid rgba(0, 0, 0, 0.23);
padding: 5px 15px;color: rgba(0, 0, 0, 0.87);
padding: 6px 16px;
font-size: 0.875rem;
min-width: 64px;
box-sizing: border-box;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
font-family: &quot;Roboto&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;
font-weight: 500;
line-height: 1.75;
border-radius: 4px;
letter-spacing: 0.02857em;
text-transform: uppercase;color: inherit;
border: 0;
cursor: pointer;
margin: 0;
display: inline-flex;
outline: 0;
padding: 0;
position: relative;
align-items: center;
user-select: none;
border-radius: 0;
vertical-align: middle;
-moz-appearance: none;
justify-content: center;
text-decoration: none;
background-color: transparent;
-webkit-appearance: none;
-webkit-tap-highlight-color: transparent;"><span class="MuiButton-label-8211" style="width: 100%;
display: inherit;
align-items: inherit;
justify-content: inherit;">Add data column</span><span class="MuiTouchRipple-root-8168" style="top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 0;
overflow: hidden;
position: absolute;
border-radius: inherit;
pointer-events: none;"></span></button></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="jss8467" style="width: 100%;">
                    <div>
                        <div>
                            <div class="jss8617" style="width: 100%;">

                                <div class="jss8618" style="overflow-x: auto;">
                                    <table class="MuiTable-root-8624" style="width: 100%;
display: table;
border-spacing: 0;
border-collapse: collapse;">
                                        <thead class="MuiTableHead-root-8626" style="display: table-header-group;">
                                            <tr class="MuiTableRow-root-8627 MuiTableRow-head-8629" style="color: inherit;
display: table-row;
outline: 0;
vertical-align: middle;">
                                                <th class="MuiTableCell-root-8631 MuiTableCell-head-8632 MuiTableCell-sizeSmall-8635" scope="col" style="text-align: left;padding: 6px 24px 6px 16px;color: rgba(0, 0, 0, 0.87);
font-weight: 500;
line-height: 1.5rem;display: table-cell;
padding: 16px;
font-size: 0.875rem;
text-align: left;
font-family: &quot;Roboto&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;
font-weight: 400;
line-height: 1.43;
border-bottom: 1px solid rgba(224, 224, 224, 1);
letter-spacing: 0.01071em;
vertical-align: inherit;">

                                                </th>
                                                <th class="MuiTableCell-root-8631 MuiTableCell-head-8632 MuiTableCell-sizeSmall-8635" aria-sort="ascending" scope="col" style="padding: 6px 24px 6px 16px;color: rgba(0, 0, 0, 0.87);
font-weight: 500;
line-height: 1.5rem;display: table-cell;
padding: 16px;
font-size: 0.875rem;
text-align: left;
font-family: &quot;Roboto&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;
font-weight: 400;
line-height: 1.43;
border-bottom: 1px solid rgba(224, 224, 224, 1);
letter-spacing: 0.01071em;
vertical-align: inherit;"><span class="MuiButtonBase-root-8158 MuiTableSortLabel-root-8643 MuiTableSortLabel-active-8644" tabindex="0" role="button" aria-disabled="false" title="Sort" style="font-size: 0.8125rem;color: rgba(0, 0, 0, 0.87);cursor: pointer;
display: inline-flex;
align-items: center;
flex-direction: inherit;
justify-content: flex-start;color: inherit;
border: 0;
cursor: pointer;
margin: 0;
display: inline-flex;
outline: 0;
padding: 0;
position: relative;
align-items: center;
user-select: none;
border-radius: 0;
vertical-align: middle;
-moz-appearance: none;
justify-content: center;
text-decoration: none;
background-color: transparent;
-webkit-appearance: none;
-webkit-tap-highlight-color: transparent;
color: inherit;
border: 0;
cursor: pointer;
margin: 0;
display: inline-flex;
outline: 0;
padding: 0;
position: relative;
align-items: center;
user-select: none;
border-radius: 0;
vertical-align: middle;
-moz-appearance: none;
justify-content: center;
text-decoration: none;
background-color: transparent;
-webkit-appearance: none;
-webkit-tap-highlight-color: transparent;"><span class="ColumnLabel" style="white-space: nowrap;">Name</span><svg class="MuiSvgIcon-root-8159 MuiTableSortLabel-icon-8645 MuiTableSortLabel-iconDirectionAsc-8647" focusable="false" viewBox="0 0 24 24" aria-hidden="true"
                                                        style="color: rgba(0, 0, 0, 0.54);
opacity: 1;transform: rotate(180deg);font-size: 18px;
transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
margin-left: 4px;
user-select: none;
margin-right: 4px;fill: currentColor;
width: 1em;
height: 1em;
display: inline-block;
font-size: 1.5rem;
transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
flex-shrink: 0;
user-select: none;"><path d="M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z"></path></svg></span>
                                                </th>
                                                <th class="MuiTableCell-root-8631 MuiTableCell-head-8632 MuiTableCell-sizeSmall-8635" scope="col" style="padding: 6px 24px 6px 16px;color: rgba(0, 0, 0, 0.87);
font-weight: 500;
line-height: 1.5rem;display: table-cell;
padding: 16px;
font-size: 0.875rem;
text-align: left;
font-family: &quot;Roboto&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;
font-weight: 400;
line-height: 1.43;
border-bottom: 1px solid rgba(224, 224, 224, 1);
letter-spacing: 0.01071em;
vertical-align: inherit;"><span class="MuiButtonBase-root-8158 MuiTableSortLabel-root-8643" tabindex="0" role="button" aria-disabled="false" title="Sort" style="font-size: 0.8125rem;cursor: pointer;
display: inline-flex;
align-items: center;
flex-direction: inherit;
justify-content: flex-start;color: inherit;
border: 0;
cursor: pointer;
margin: 0;
display: inline-flex;
outline: 0;
padding: 0;
position: relative;
align-items: center;
user-select: none;
border-radius: 0;
vertical-align: middle;
-moz-appearance: none;
justify-content: center;
text-decoration: none;
background-color: transparent;
-webkit-appearance: none;
-webkit-tap-highlight-color: transparent;
color: inherit;
border: 0;
cursor: pointer;
margin: 0;
display: inline-flex;
outline: 0;
padding: 0;
position: relative;
align-items: center;
user-select: none;
border-radius: 0;
vertical-align: middle;
-moz-appearance: none;
justify-content: center;
text-decoration: none;
background-color: transparent;
-webkit-appearance: none;
-webkit-tap-highlight-color: transparent;"><span class="ColumnLabel" style="white-space: nowrap;">Duree</span><svg class="MuiSvgIcon-root-8159 MuiTableSortLabel-icon-8645 MuiTableSortLabel-iconDirectionAsc-8647" focusable="false" viewBox="0 0 24 24"
                                                        aria-hidden="true" style="transform: rotate(180deg);opacity: 0;
font-size: 18px;
transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
margin-left: 4px;
user-select: none;
margin-right: 4px;fill: currentColor;
width: 1em;
height: 1em;
display: inline-block;
font-size: 1.5rem;
transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
flex-shrink: 0;
user-select: none;"><path d="M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z"></path></svg></span>
                                                </th>
                                                <th class="MuiTableCell-root-8631 MuiTableCell-head-8632 MuiTableCell-sizeSmall-8635" scope="col" style="padding: 6px 24px 6px 16px;color: rgba(0, 0, 0, 0.87);
font-weight: 500;
line-height: 1.5rem;display: table-cell;
padding: 16px;
font-size: 0.875rem;
text-align: left;
font-family: &quot;Roboto&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;
font-weight: 400;
line-height: 1.43;
border-bottom: 1px solid rgba(224, 224, 224, 1);
letter-spacing: 0.01071em;
vertical-align: inherit;">Delete</th>

                                                <th class="MuiTableCell-root-8631 MuiTableCell-head-8632 MuiTableCell-sizeSmall-8635" scope="col" style="padding-right: 16px;padding: 6px 24px 6px 16px;color: rgba(0, 0, 0, 0.87);
font-weight: 500;
line-height: 1.5rem;display: table-cell;
padding: 16px;
font-size: 0.875rem;
text-align: left;
font-family: &quot;Roboto&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;
font-weight: 400;
line-height: 1.43;
border-bottom: 1px solid rgba(224, 224, 224, 1);
letter-spacing: 0.01071em;
vertical-align: inherit;"> Update</th>
                                            </tr>
                                        </thead>
                                        <tbody class="MuiTableBody-root-8648" style="display: table-row-group;">

                                            <tr *ngFor="let f of films; let i=index" class="MuiTableRow-root-8627 MuiTableRow-hover-8628" role="checkbox" aria-checked="false" tabindex="-1" style="color: inherit;
display: table-row;
outline: 0;
vertical-align: middle;">
                                                <td class="MuiTableCell-root-8631 MuiTableCell-body-8633 MuiTableCell-paddingCheckbox-8636 MuiTableCell-sizeSmall-8635" style="width: 24px;
padding: 0 12px 0 16px;color: rgba(0, 0, 0, 0.87);display: table-cell;
padding: 16px;
font-size: 0.875rem;
text-align: left;
font-family: &quot;Roboto&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;
font-weight: 400;
line-height: 1.43;
border-bottom: 1px solid rgba(224, 224, 224, 1);
letter-spacing: 0.01071em;
vertical-align: inherit;">

                                                </td>
                                                <td class="MuiTableCell-root-8631 MuiTableCell-body-8633 MuiTableCell-sizeSmall-8635" style="font-weight: 500; white-space: nowrap;padding: 6px 24px 6px 16px;color: rgba(0, 0, 0, 0.87);display: table-cell;
padding: 16px;
font-size: 0.875rem;
text-align: left;
font-family: &quot;Roboto&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;
font-weight: 400;
line-height: 1.43;
border-bottom: 1px solid rgba(224, 224, 224, 1);
letter-spacing: 0.01071em;
vertical-align: inherit;"> {{f.nomFilm}} </td>
                                                <td class="MuiTableCell-root-8631 MuiTableCell-body-8633 MuiTableCell-sizeSmall-8635" style="padding: 6px 24px 6px 16px;color: rgba(0, 0, 0, 0.87);display: table-cell;
padding: 16px;
font-size: 0.875rem;
text-align: left;
font-family: &quot;Roboto&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;
font-weight: 400;
line-height: 1.43;
border-bottom: 1px solid rgba(224, 224, 224, 1);
letter-spacing: 0.01071em;
vertical-align: inherit;"> {{f.duree}} </td>
                                                <td class="MuiTableCell-root-8631 MuiTableCell-body-8633 MuiTableCell-sizeSmall-8635" style="padding: 6px 24px 6px 16px;color: rgba(0, 0, 0, 0.87);display: table-cell;
padding: 16px;
font-size: 0.875rem;
text-align: left;
font-family: &quot;Roboto&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;
font-weight: 400;
line-height: 1.43;
border-bottom: 1px solid rgba(224, 224, 224, 1);
letter-spacing: 0.01071em;
vertical-align: inherit;">
                                                    <div>
                                                        <button class="MuiButtonBase-root-8158 MuiIconButton-root-8150" tabindex="0" type="button" aria-label="Change" style="padding: 5px;flex: 0 0 auto;
color: rgba(0, 0, 0, 0.54);
padding: 12px;
overflow: visible;
font-size: 1.5rem;
text-align: center;
transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
border-radius: 50%;color: inherit;
border: 0;
cursor: pointer;
margin: 0;
display: inline-flex;
outline: 0;
padding: 0;
position: relative;
align-items: center;
user-select: none;
border-radius: 0;
vertical-align: middle;
-moz-appearance: none;
justify-content: center;
text-decoration: none;
background-color: transparent;
-webkit-appearance: none;
-webkit-tap-highlight-color: transparent;
color: inherit;
border: 0;
cursor: pointer;
margin: 0;
display: inline-flex;
outline: 0;
padding: 0;
position: relative;
align-items: center;
user-select: none;
border-radius: 0;
vertical-align: middle;
-moz-appearance: none;
justify-content: center;
text-decoration: none;
background-color: transparent;
-webkit-appearance: none;
-webkit-tap-highlight-color: transparent;">
<!-- routerLink="/admin/participant/tournament/addPlayer" -->
<a class="btn btn-outline-danger"  (click)="delete(f.idFilm,  i)"

>
<i class="bi bi-trash3-fill"></i>
</a>
<span class="MuiTouchRipple-root-8168" style="top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 0;
overflow: hidden;
position: absolute;
border-radius: inherit;
pointer-events: none;"></span></button></div>
                                                </td>
                                                <td class="MuiTableCell-root-8631 MuiTableCell-body-8633 MuiTableCell-alignRight-8640 MuiTableCell-sizeSmall-8635" style="padding-right: 16px;text-align: right;
flex-direction: row-reverse;padding: 6px 24px 6px 16px;color: rgba(0, 0, 0, 0.87);display: table-cell;
padding: 16px;
font-size: 0.875rem;
text-align: left;
font-family: &quot;Roboto&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;
font-weight: 400;
line-height: 1.43;
border-bottom: 1px solid rgba(224, 224, 224, 1);
letter-spacing: 0.01071em;
vertical-align: inherit;">
                                                    <div>

                                                        <button class="MuiButtonBase-root-8158 MuiIconButton-root-8150" tabindex="0" type="button" aria-label="Change" style="padding: 5px;flex: 0 0 auto;
color: rgba(0, 0, 0, 0.54);
padding: 12px;
overflow: visible;
font-size: 1.5rem;
text-align: center;
transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
border-radius: 50%;color: inherit;
border: 0;
cursor: pointer;
margin: 0;
display: inline-flex;
outline: 0;
padding: 0;
position: relative;
align-items: center;
user-select: none;
border-radius: 0;
vertical-align: middle;
-moz-appearance: none;
justify-content: center;
text-decoration: none;
background-color: transparent;
-webkit-appearance: none;
-webkit-tap-highlight-color: transparent;
color: inherit;
border: 0;
cursor: pointer;
margin: 0;
display: inline-flex;
outline: 0;
padding: 0;
position: relative;
align-items: center;
user-select: none;
border-radius: 0;
vertical-align: middle;
-moz-appearance: none;
justify-content: center;
text-decoration: none;
background-color: transparent;
-webkit-appearance: none;
-webkit-tap-highlight-color: transparent;">
<a  [routerLink]="['/admin/updateFilm/', f.idFilm]" >
    <i class="bi bi-pencil-square"></i>

</a>
<span class="MuiTouchRipple-root-8168" style="top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 0;
overflow: hidden;
position: absolute;
border-radius: inherit;
pointer-events: none;"></span></button></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot class="MuiTableFooter-root-8649">
                                            <tr class="MuiTableRow-root-8627 MuiTableRow-footer-8630">
                                                <td class="MuiTableCell-root-8631 MuiTableCell-footer-8634 MuiTablePagination-root-8650 MuiTableCell-sizeSmall-8635" colspan="20" style="border-bottom: 0px solid gray;">

                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: none;">
        <div>
            <div>
                <div class="MuiGrid-root-8343 MuiGrid-container-8344 MuiGrid-spacing-xs-2-8367" style="margin-bottom: 5px;">
                    <div class="MuiGrid-root-8343 MuiGrid-item-8345 MuiGrid-grid-xs-12-8389 MuiGrid-grid-sm-6-8397 MuiGrid-grid-md-4-8409">
                        <div class="jss8446">
                            <div class="MuiPaper-root-8118 MuiExpansionPanel-root-8448 MuiExpansionPanel-rounded-8449 MuiPaper-elevation1-8122 MuiPaper-rounded-8119">
                                <div class="MuiButtonBase-root-8158 MuiExpansionPanelSummary-root-8450" tabindex="0" role="button" aria-disabled="false" aria-expanded="false">
                                    <div class="MuiExpansionPanelSummary-content-8451">
                                        <p class="MuiTypography-root-8178 jss8447 MuiTypography-body1-8180">Referee information</p>
                                    </div>
                                    <div class="MuiButtonBase-root-8158 MuiIconButton-root-8150 MuiExpansionPanelSummary-expandIcon-8452 MuiIconButton-edgeEnd-8152" aria-disabled="false" aria-hidden="true"><span class="MuiIconButton-label-8157"><svg class="MuiSvgIcon-root-8159" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path></svg></span><span class="MuiTouchRipple-root-8168"></span></div>
                                </div>
                                <div class="MuiCollapse-root-8453 MuiCollapse-hidden-8455" style="min-height: 0px;">
                                    <div class="MuiCollapse-wrapper-8456">
                                        <div class="MuiCollapse-wrapperInner-8457">
                                            <div role="region">
                                                <div class="MuiExpansionPanelDetails-root-8458" style="padding-bottom: 0px; padding-top: 0px;">
                                                    <div><span class="MuiTypography-root-8178 MuiTypography-caption-8181">Decide which information of the referees you want to keep track of.</span></div>
                                                </div>
                                                <div style="padding: 20px 24px 0px;">
                                                    <p class="MuiTypography-root-8178 MuiTypography-body2-8179" style="background: rgb(236, 239, 241); padding: 10px; border-radius: 5px; width: 100%; cursor: pointer;"><svg class="MuiSvgIcon-root-8159" focusable="false" viewBox="0 0 24 24" aria-hidden="true" style="height: 15px; width: 15px; margin-right: 3px; top: 2px; position: relative;"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"></path></svg>No
                                                        referees? Click here to use "judges" instead.</p>
                                                </div>
                                                <div class="MuiExpansionPanelDetails-root-8458" style="padding-bottom: 12px;">
                                                    <table style="margin-top: 15px; width: 100%;">
                                                        <tbody>
                                                            <tr>
                                                                <td style="font-weight: 500;">Default data columns</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 90%; padding: 0px;">
                                                                    <p class="MuiTypography-root-8178 MuiTypography-body2-8179" style="display: inline;">Country</p>
                                                                </td>
                                                                <td style="padding: 0px;"><span class="MuiButtonBase-root-8158 MuiIconButton-root-8150 jss8463 MuiCheckbox-root-8459 MuiCheckbox-colorPrimary-8461 MuiIconButton-colorPrimary-8154" aria-disabled="false" style="height: 35px;"><span class="MuiIconButton-label-8157"><input class="jss8466" type="checkbox" data-indeterminate="false" value=""><svg class="MuiSvgIcon-root-8159" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg></span>
                                                                    <span class="MuiTouchRipple-root-8168"></span>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 90%; padding: 0px;">
                                                                    <p class="MuiTypography-root-8178 MuiTypography-body2-8179" style="display: inline;">Direct login link</p><svg class="MuiSvgIcon-root-8159" focusable="false" viewBox="0 0 24 24" aria-hidden="true" title="Via a unique login link referees can submit their match results directly on the tournaments' public website"
                                                                        style="height: 15px; width: 15px; margin-left: 5px; position: relative; top: 2px;"><path d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"></path></svg></td>
                                                                <td style="padding: 0px;"><span class="MuiButtonBase-root-8158 MuiIconButton-root-8150 jss8463 MuiCheckbox-root-8459 MuiCheckbox-colorPrimary-8461 MuiIconButton-colorPrimary-8154" aria-disabled="false" style="height: 35px;"><span class="MuiIconButton-label-8157"><input class="jss8466" type="checkbox" data-indeterminate="false" value=""><svg class="MuiSvgIcon-root-8159" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg></span>
                                                                    <span class="MuiTouchRipple-root-8168"></span>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-weight: 500; padding-top: 15px;">Wishes</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 90%; padding: 0px;">
                                                                    <p class="MuiTypography-root-8178 MuiTypography-body2-8179">Locations and fields</p>
                                                                </td>
                                                                <td style="padding: 0px;"><span class="MuiButtonBase-root-8158 MuiIconButton-root-8150 jss8463 MuiCheckbox-root-8459 MuiCheckbox-colorPrimary-8461 MuiIconButton-colorPrimary-8154" aria-disabled="false" style="height: 35px;"><span class="MuiIconButton-label-8157"><input class="jss8466" type="checkbox" data-indeterminate="false" value=""><svg class="MuiSvgIcon-root-8159" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg></span>
                                                                    <span class="MuiTouchRipple-root-8168"></span>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 90%; padding: 0px;">
                                                                    <p class="MuiTypography-root-8178 MuiTypography-body2-8179">Availability (Days and times)</p>
                                                                </td>
                                                                <td style="padding: 0px;"><span class="MuiButtonBase-root-8158 MuiIconButton-root-8150 jss8463 MuiCheckbox-root-8459 MuiCheckbox-colorPrimary-8461 MuiIconButton-colorPrimary-8154" aria-disabled="false" style="height: 35px;"><span class="MuiIconButton-label-8157"><input class="jss8466" type="checkbox" data-indeterminate="false" value=""><svg class="MuiSvgIcon-root-8159" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg></span>
                                                                    <span class="MuiTouchRipple-root-8168"></span>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 90%; padding: 0px;">
                                                                    <p class="MuiTypography-root-8178 MuiTypography-body2-8179">Divisions</p>
                                                                </td>
                                                                <td style="padding: 0px;"><span class="MuiButtonBase-root-8158 MuiIconButton-root-8150 jss8463 MuiCheckbox-root-8459 MuiCheckbox-colorPrimary-8461 MuiIconButton-colorPrimary-8154" aria-disabled="false" style="height: 35px;"><span class="MuiIconButton-label-8157"><input class="jss8466" type="checkbox" data-indeterminate="false" value=""><svg class="MuiSvgIcon-root-8159" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg></span>
                                                                    <span class="MuiTouchRipple-root-8168"></span>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 90%; padding: 0px;">
                                                                    <p class="MuiTypography-root-8178 MuiTypography-body2-8179">Max. number of matches</p>
                                                                </td>
                                                                <td style="padding: 0px;"><span class="MuiButtonBase-root-8158 MuiIconButton-root-8150 jss8463 MuiCheckbox-root-8459 MuiCheckbox-colorPrimary-8461 MuiIconButton-colorPrimary-8154" aria-disabled="false" style="height: 35px;"><span class="MuiIconButton-label-8157"><input class="jss8466" type="checkbox" data-indeterminate="false" value=""><svg class="MuiSvgIcon-root-8159" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg></span>
                                                                    <span class="MuiTouchRipple-root-8168"></span>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 90%; padding: 0px;">
                                                                    <p class="MuiTypography-root-8178 MuiTypography-body2-8179">Excluded teams/players</p>
                                                                </td>
                                                                <td style="padding: 0px;"><span class="MuiButtonBase-root-8158 MuiIconButton-root-8150 jss8463 MuiCheckbox-root-8459 MuiCheckbox-colorPrimary-8461 MuiIconButton-colorPrimary-8154" aria-disabled="false" style="height: 35px;"><span class="MuiIconButton-label-8157"><input class="jss8466" type="checkbox" data-indeterminate="false" value=""><svg class="MuiSvgIcon-root-8159" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg></span>
                                                                    <span class="MuiTouchRipple-root-8168"></span>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 90%; padding: 0px;">
                                                                    <p class="MuiTypography-root-8178 MuiTypography-body2-8179">Role (1-5)</p>
                                                                </td>
                                                                <td style="padding: 0px;"><span class="MuiButtonBase-root-8158 MuiIconButton-root-8150 jss8463 MuiCheckbox-root-8459 MuiCheckbox-colorPrimary-8461 MuiIconButton-colorPrimary-8154" aria-disabled="false" style="height: 35px;"><span class="MuiIconButton-label-8157"><input class="jss8466" type="checkbox" data-indeterminate="false" value=""><svg class="MuiSvgIcon-root-8159" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg></span>
                                                                    <span class="MuiTouchRipple-root-8168"></span>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="MuiExpansionPanelDetails-root-8458" style="margin-top: 10px;">
                                                    <div><button class="MuiButtonBase-root-8158 MuiButton-root-8210 MuiButton-outlined-8215" tabindex="0" type="button"><span class="MuiButton-label-8211">Add data column</span><span class="MuiTouchRipple-root-8168"></span></button></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="padding-top: 15px;">
                        <div style="width: 95%; text-align: center;">
                            <div style="max-width: 700px; display: inline-block;"><img src="/manage/static/media/referee2.32c0fb39.png" alt="" style="height: 100px; margin: 20px 0px 15px;">
                                <h6 class="MuiTypography-root-8178 MuiTypography-h6-8188">Add referees</h6>
                                <h6 class="MuiTypography-root-8178 MuiTypography-subtitle1-8189" style="font-size: 17px;">And use the schedule page to assign referees to matches.</h6>
                                <div style="margin-top: 15px;">
                                    <div>
                                        <div><button class="MuiButtonBase-root-8158 MuiButton-root-8210 MuiButton-outlined-8215 MuiButton-outlinedSizeSmall-8225 MuiButton-sizeSmall-8229" tabindex="0" type="button"><span class="MuiButton-label-8211">Add referee</span><span class="MuiTouchRipple-root-8168"></span></button></div><br>
                                        <div><label class="MuiFormControlLabel-root-8519"><span class="MuiSwitch-root-8524"><span class="MuiButtonBase-root-8158 MuiIconButton-root-8150 jss8463 MuiSwitch-switchBase-8527 MuiSwitch-colorPrimary-8528" aria-disabled="false"><span class="MuiIconButton-label-8157"><input class="jss8466 MuiSwitch-input-8531" name="teamsAsRefs" type="checkbox" value=""><span class="MuiSwitch-thumb-8532"></span></span><span class="MuiTouchRipple-root-8168"></span></span><span class="MuiSwitch-track-8533"></span></span><span class="MuiTypography-root-8178 MuiFormControlLabel-label-8523 MuiTypography-body1-8180">Teams as referees</span></label></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: none;">
        <div>
            <div>
                <div>
                    <div style="padding-top: 15px;">
                        <div style="width: 95%; text-align: center;">
                            <div style="max-width: 700px; display: inline-block;"><img src="/manage/static/media/admin.73f10e0f.png" alt="" style="height: 100px; margin: 20px 0px 15px;">
                                <h6 class="MuiTypography-root-8178 MuiTypography-h6-8188">Add administrators</h6>
                                <h6 class="MuiTypography-root-8178 MuiTypography-subtitle1-8189" style="font-size: 17px;">They can help you manage this tournament. You can share this tournament, or certain parts of it, with another Tournify account.</h6>
                                <div style="margin-top: 15px;">
                                    <div><button class="MuiButtonBase-root-8158 MuiButton-root-8210 MuiButton-outlined-8215 MuiButton-outlinedSizeSmall-8225 MuiButton-sizeSmall-8229" tabindex="0" type="button"><span class="MuiButton-label-8211">Add administrator</span><span class="MuiTouchRipple-root-8168"></span></button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>